body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.navbar {
  background-color: white;
  .container-fluid {
    width: 85%;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 30px;
  }

  .nav-link,
  .navbar-brand {
    color: black;
  }

  .nav-link:hover,
  .navbar-brand:hover {
    color: red;
  }

  .fas {
    color: black;
    font-size: 30px;
  }

  .fas:hover {
    color: red;
  }
}

.home {
  height: 100vh;
  text-shadow: 2px 2px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("http://www.winwallpapers.net/w1/2013/10/Cidade-de-Deus-Movie.jpg");

  .container-fluid {
    width: 85%;
  }

  .header{
    padding-top: 100px;
    h1{
      font-weight: bold;
      font-size: 45px;
    }
    p{
      font-size: 25px;
    }
  }
}

.movies{
  
}
