<h1>THOSE ARE THE CELEBS DETAILS YOOOO</..h1>

<h1>{{celebsDetails.name}}</h1>
<h2>{{celebsDetails.occupation}}</h2>
<h2>{{celebsDetails.catchPhrase}}</h2>
<button><a href="/celebrities/edit/{{celebsDetails._id}}">EDIT</a></button>