<form action="/celebrities/update/{{currentCelebrity._id}}" method="POST">

<p>Edit Celeb Name</p>
<input type="text" name="newName" placeholder="{{currentCelebrity.name}}">

<p>Edit Celeb Ocuppation</p>
<input type="text" name="newOccupation" placeholder="{{currentCelebrity.occupation}}">

<p>Edit Celeb Catch Phrase</p>
<input type="text" name="newCatchPhrase" placeholder="{{currentCelebrity.catchPhrase}}">

<button>Send</button>
</form>