<div class="home">
    <div class="container-fluid">
        <div class="header">
            <h1>Look through your favorite movies.</h1>
            <p>Create new movies, new movie stars, customize movies you would like to see.<br> The possibilities are endless!</p>
            <a href="/movies"><button class="btn btn-danger">Try it out!</button></a>
        </div>
    </div>
</div>