<h1>THIS IS NEW CELEBS</h1>

<form action="/new-celeb/creation" method="POST">
    <p>Choose new celeb name:</p>
    <input type="text" name="celebName">

    <p>Choose new celeb occupation:</p>
    <input type="text" name="celebOccupation">

    <p>Celeb catch phrase:</p>
    <input type="text" name="celebCatchPhrase">

    <button>Create New Celebritie</button>
</form>